name: Deploy Application

on:
  workflow_run:
    workflows: ["Supply Chain - SBOM, Scan & Policy"]
    types: [completed]
    branches: [main]

permissions:
  contents: read
  actions: read

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH to Droplet
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.DO_SSH_HOST }}
          username: ${{ secrets.DO_SSH_USER }}
          key: ${{ secrets.DO_SSH_KEY }}
          port: 22
          script: |
            set -e

            cd /opt/csc13114-seminar-cicd

            export IMAGE_TAG=${{ github.event.workflow_run.head_sha }}

            echo "Using IMAGE_TAG=$IMAGE_TAG"

            docker compose pull
            docker compose up -d --remove-orphans
            docker compose ps
