name: Supply Chain - SBOM (Syft)

on:
  workflow_run:
    workflows: ["Build and Push Images"]
    types: [completed]
    branches: [main]

jobs:
  generate_sbom:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    environment: production
    env:
      REGISTRY: docker.io
      IMAGE_TAG: ${{ github.event.workflow_run.head_sha }}

    steps:
      # 1. Checkout repo (nếu cần đọc file / policy)
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Login Docker Hub để pull image
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # 3. Install Syft
      - name: Install Syft
        uses: anchore/sbom-action/download-syft@v0.17.3

      # 4. Generate SBOM cho frontend
      - name: Generate SBOM (frontend)
        env:
          IMAGE_PREFIX: docker.io/${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          syft \
            $IMAGE_PREFIX/csc13114-frontend:$IMAGE_TAG \
            -o spdx-json > sbom-frontend.spdx.json

      # 5. Generate SBOM cho backend
      - name: Generate SBOM (backend)
        env:
          IMAGE_PREFIX: docker.io/${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          syft \
            $IMAGE_PREFIX/csc13114-backend:$IMAGE_TAG \
            -o spdx-json > sbom-backend.spdx.json

      # 6. Upload SBOM artifacts
      - name: Upload SBOM artifacts
        uses: actions/upload-artifact@v4
        with:
          name: sbom-spdx
          path: |
            sbom-frontend.spdx.json
            sbom-backend.spdx.json
